/////// Config defaults for site colors ///////
// -----------------------------------------------------------------------------
// Base Colors
$black: #000000;
$white: #ffffff;
$dark-grey: #444444;

//// Scheme Colors ////
// https://kuler.adobe.com/Aspirin-C-color-theme-251864/
// $navy-blue: #225378;
// $cyan: #1695a3;
// $sky-blue: #acf0f2;
// $beige: #f3ffe2;
// $orange: #eb7f00;

// https://kuler.adobe.com/Sea-Wolf-color-theme-782171/
$red: #DC3522;
$beige: #f3ffe2; // chaged from #D9CB9E
$grey: #374140;
$dark-grey: #2A2C2B;
$black: #1E1E20;

$primary-color: $black;
$secondary-color: $dark-grey;
$tertiary-color: $grey;
$off-color: $beige;
$action-color: $red;

$default-background-color: $primary-color;
$secondary-background-color: $secondary-color;

$default-text-color: $off-color;
$default-link-color: $action-color;
$default-button-color: $off-color;
$default-button-background-color: $action-color;

/////// Config defaults for site border style ///////
// -----------------------------------------------------------------------------
$default-border-radius: 3px;
$default-border-width: 1px;
$default-border-style: solid;
$default-border-color: $beige;

$photo-border-width: 10px;
$photo-border-style: double;
$photo-border-color: $default-border-color;

$large-border-width: 5px;

$default-box-shadow-h-offset: 2px;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur: 5px;
$default-box-shadow-spread: -1px;
$default-box-shadow-color: rgba($primary-color, 0.8);

/////// Page dimension configuration ///////
// -----------------------------------------------------------------------------
$default-page-spacing: 3em;

/////// Typography configuration ///////
// -----------------------------------------------------------------------------
$primary-font: "Helvetica Nueue", Helvetica, Arial, sans-serif;
$secondary-font: "Ostrich", "Helvetica Nueue", Helvetica, Arial, sans-serif;
$quote-font: "Janda Quirky Girl", serif;

$base-font-size: 16px;
$small-font-size: 12px;

/////// Config defaults for buttons ///////
// -----------------------------------------------------------------------------
$default-button-box-shadow: 1px 1px 8px -1px $black;

/////// Config for Font Awesome ///////
// -----------------------------------------------------------------------------
$fa-font-path: "/bower_components/font-awesome/fonts";

/////// Config for Susy grid ///////
// -----------------------------------------------------------------------------
$total-columns: 12;
$column-width: 5rem;
$gutter-width: 1rem;
$grid-padding: $gutter-width;

$medium-columns: 6;
$large-columns: 12;

/////// UI @media breakpoint defaults ///////
// -----------------------------------------------------------------------------
$medium-viewport: 40em $medium-columns;
$large-viewport: 60em $large-columns;

/////// Site Icons and Images ///////
// -----------------------------------------------------------------------------
$default-image-width: 300px;

$profile-image-width: $default-image-width;