/////// Config defaults for site colors ///////
// -----------------------------------------------------------------------------
// Base Colors
$black: #000000;
$white: #ffffff;
$dark-grey: #444444;

// Scheme Colors
// https://kuler.adobe.com/Aspirin-C-color-theme-251864/
$navy-blue: #225378;
$cyan: #1695a3;
$sky-blue: #acf0f2;
$beige: #f3ffe2;
$orange: #eb7f00;

$default-background-color: $navy-blue;
$secondary-background-color: $cyan;

$default-text-color: $beige;
$default-link-color: $orange;

/////// Config defaults for site border style ///////
// -----------------------------------------------------------------------------
$default-border-radius: 3px;
$default-border-width: 1px;
$default-border-style: solid;
$default-border-color: $beige;

$large-border-width: 5px;

$default-box-shadow-h-offset: 2px;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur: 5px;
$default-box-shadow-spread: -1px;
$default-box-shadow-color: rgba($black, 0.8);

/////// Page dimension configuration ///////
// -----------------------------------------------------------------------------
$default-page-spacing: 3em;

/////// Typography configuration ///////
// -----------------------------------------------------------------------------
$primary-font: serif;
$secondary-font: "Ostrich", "Helvetica Nueue", Helvetica, Arial, sans-serif;

$base-font-size: 16px;
$small-font-size: 12px;

/////// Config defaults for buttons ///////
// -----------------------------------------------------------------------------

/////// Config for Font Awesome ///////
// -----------------------------------------------------------------------------
$fa-font-path: "/bower_components/font-awesome/fonts";

/////// Config for Susy grid ///////
// -----------------------------------------------------------------------------
$total-columns: 12;
$column-width: 5rem;
$gutter-width: 1rem;
$grid-padding: 0;

/////// UI @media breakpoint defaults ///////
// -----------------------------------------------------------------------------

/////// Site Icons and Images ///////
// -----------------------------------------------------------------------------
$default-image-width: 300px;

$profile-image-width: $default-image-width;