language: node_js
node_js:
 - "0.10"
rvm:
 - "1.9.3"
branches:
 only:
  - development
before_script:
 # install dependencies
 - gem update --system
 - gem install compass
 - npm install -g grunt-cli bower
script:
 # We want to gate on passing tests and a successful build
 - bower install
 - grunt
after_success:
 # Any command that using GH_OAUTH_TOKEN must pipe the output to /dev/null to not expose your oauth token
 - git submodule add -b master https://aAWm33y3gx8XyB08Rz/wIYnws5PMehxwsqcDbzT0PDreTgX/y7lG/gRQJkB2/tLhDJwnnirA59PHea3oxsEjPveCc174FbtT/+TmmJI7UKotmeJO9B3mmP2/QiEgRo3z+yCcY7uZhO5/+2BcPNmGCTL6D3d1yHJ14OFFeGVIzLs=@github.com/josephspens/dror-baitel site > /dev/null 2>&1
 - cd site
 - if git checkout master; then git checkout -b master; fi
 - git rm -r .
 - cp -R ../dist/* .
 - cp ../dist/.* .
 - git add -f .
 - git config user.email "jpspens@gmail.com"
 - git config user.name "Joseph Spens"
 - git commit -am "adding the yeoman build files to master"
 # Any command that using GH_OAUTH_TOKEN must pipe the output to /dev/null to not expose your oauth token
 - git push https://aAWm33y3gx8XyB08Rz/wIYnws5PMehxwsqcDbzT0PDreTgX/y7lG/gRQJkB2/tLhDJwnnirA59PHea3oxsEjPveCc174FbtT/+TmmJI7UKotmeJO9B3mmP2/QiEgRo3z+yCcY7uZhO5/+2BcPNmGCTL6D3d1yHJ14OFFeGVIzLs=@github.com/josephspens/dror-baitel HEAD:master > /dev/null 2>&1
deploy:
 provider: heroku
 api_key:
  secure: B6KgZ0t7iO2AdsMlsxk7NisgZ7GmwO4A7y1a2jlcHGkf16KDGyd4hDcXVb8LOaGHpOTehgCI3VEWmPdElafSM6PeG83ttKTjOfxIPsUTvW9A4/q0njkl1cvJchHz+qm4BYgUJ3fu+Pl3r2LZLAXka/vQzn8SZNnhGp4bedgYeLg=
 skip_cleanup: true
 strategy: git