#contact {
	text-align: center;

	h3 {
		margin-bottom: 1em;
	}
	.btn {
		font-size: 2em;
		display: inline-block;
		background-color: $default-button-background-color;
		padding: 0.5em 2em;
		@include border-radius;
		color: $default-button-color;
		@include box-shadow;

		&:hover {
			text-decoration: none;
		}
	}
}