/////// Page Helpers ///////
// -----------------------------------------------------------------------------
%page-section {
	margin-top: 3em;
	margin-bottom: 3em;
}

/////// Page Styles ///////
// -----------------------------------------------------------------------------
#container {
	overflow: hidden;
}

#about {
	@extend %page-section;
	margin-top: 0;
}

#experiences {
	$columns: 3;

	@extend %page-section;
	@include container;

	.experience {
		@include span-columns($total-columns / $columns);
		height: 15em;

		&:nth-of-type(#{$columns}n) {
			@include omega;
		}
	}
}

#skills {
	$columns: 6;

	@extend %page-section;
	@include container;

	.skill {
		@include span-columns($total-columns / $columns);

		&:nth-of-type(#{$columns}n) {
			@include omega;
		}
	}
}