#schedule {
	@include container;

	.schedule--entry {
		@include container;
		padding: 1em;

		&:nth-child(2n) {
			background-color: rgba($default-background-color, 0.4);
		}
		.meta {
			font-size: 0.8em;
			margin-bottom: $gutter-width;
			@include at-breakpoint($medium-viewport) {
				@include span-columns(4, 12);
				font-size: 1em;
				margin-bottom: 0;
			}

			.date {
				font-size: 1.2em;
			}
		}
		.content {
			@include at-breakpoint($medium-viewport) {
				@include span-columns(8 omega, 12);
			}

			.title {
				font-weight: bold;
				margin-bottom: 0.2em;
			}
			.location {
				margin-bottom: 0.5em;
			}
		}
	}
}