#video {
	overflow: hidden;

	.video {
		position: relative;
		@include at-breakpoint($large-viewport) {
			@include equal-columns(2);
		}

		&:before {
			content: "";
			display: block;
			padding-top: 56.25%;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
}