body {
	font-size: $small-font-size;
	font-family: $primary-font;
	color: $default-text-color;
	@include light-text-highlight;
	background-color: $secondary-background-color;
	-webkit-font-smoothing: antialiased;
	@include at-breakpoint($medium-viewport) {
		font-size: $base-font-size;
	}
}