.light-header {
	color: $off-color;
	@include light-text-highlight;
}

.fancy-header {
	font-family: $secondary-font;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
	font-weight: 100;
	margin: 0;
	@include border-radius;
}

h1 {
	@extend .fancy-header;
	@extend .light-header;
	font-size: 4em;
}

h2 {
	@extend .fancy-header;
	font-size: 3em;
}

h3 {
	font-size: 1.5em;
}