/////// Backgrounds ///////
// -----------------------------------------------------------------------------
@mixin carbon-fiber-background {
	background:
		radial-gradient($secondary-color 15%, transparent 16%) 0 0,
		radial-gradient($secondary-color 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba($off-color,0.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba($off-color,0.1) 15%, transparent 20%) 8px 9px;
	background-color: $default-background-color;
	background-size: 16px 16px;
}

/////// Helper Classes ///////
// -----------------------------------------------------------------------------
%card {
	@include border-radius;
	@include box-sizing(border-box);
	background-color: $secondary-background-color;
	overflow: hidden;
	@include box-shadow;
}

.container {
	@include container;
}

/////// Mixins ///////
// -----------------------------------------------------------------------------
@mixin flip {
	position: relative;
	z-index: 1;
	@include perspective(1000);

	&:hover {
		.content {
			@include transform(rotateY(180deg));
		}
	}
  .content {
		width: 100%;
		height: 100%;
		@include transform-style(preserve-3d);
		@include transition(all 0.3s linear);
  }
	.face {
		position: absolute;
		width: 100%;
		height: 100%;
		@include backface-visibility(hidden);

		&.back {
			transform: rotateY(180deg);
			@include box-sizing(border-box);
		}
	}
}

@mixin text-highlight ($color) {
	text-shadow: 1px 1px 0px $color;
}
@mixin dark-text-highlight {
	@include text-highlight ($off-color);
}
@mixin light-text-highlight {
	@include text-highlight ($secondary-color);
}

@mixin light-text {
	@include light-text-highlight;
	color: $default-text-color;
}

@mixin dark-text {
	@include dark-text-highlight;
	color: $secondary-color;
}

@mixin border ($side: all, $width: $default-border-width, $style: $default-border-style, $color: $default-border-color) {
	$property: border;
	@if $side != all {
		$property: #{$property}-#{$side};
	}
	#{$property}: $width $style $color;
}

@mixin large-border ($side: all) {
	@include border($side, $large-border-width);
}

@mixin photo-border {
	@include border(all, $photo-border-width, $photo-border-style, $photo-border-color);
}

@mixin long-text-shadow ($length, $color) {
	$list: ();
	@for $i from 1 through $length {
		$list: append($list, unquote('#{$i}px #{$i}px #{$color}'), comma);
	}

	text-shadow: $list;
}

/////// Susy Mixins ///////
// -----------------------------------------------------------------------------
@mixin equal-columns ($columns: 1) {
	@include span-columns($total-columns / $columns);
	@include nth-omega(#{$columns}n);
}

/////// Functions ///////
// -----------------------------------------------------------------------------
@function em ($value) {
	@return ($value / $base-font-size) + 0em;
}