.experience {
	font-size: 1rem;
	@include flip;

	.face {
		@include border-radius($base-border-radius);
		@include box-sizing(border-box);
		background-color: $base-background-color;
		border: $base-border;
		text-align: center;

		&.back {
			padding: 2em;
		}
	}
	h2 {
		padding: 2em;
	}
	.schools {
		padding-top: 1em;

		span {
			@extend h2;
			display: block;
			padding: 0;
		}
	}
	ul {
		padding: 0;
		margin: 0.5em 0;
		overflow: hidden;
		text-align: left;
		display: inline-block;

		li {
			margin: 0.5em 0;
			list-style-type: none;

			&:before {
				content: '♦';
				font-size: 0.7em;
				padding-right: 0.5em;
				vertical-align: middle;
			}
		}
	}
}