.experience {
	font-size: 1rem;
	@include flip;

	.face {
		@extend %card;
		text-align: center;
	}
	.front {
		h2 {
			padding: 2em 0;
		}
	}
	.back {
		padding: 2em;

		h3 {
			font-size: 1.4em;
		}
	}
	em {
		&.large {
			display: block;
			font-style: normal;
			padding-top: 1em;

			span {
				@extend h2;
				display: block;
				padding: 0;
			}
		}
	}
	ul {
		padding: 0;
		margin: 0.5em 0;
		overflow: hidden;
		text-align: left;
		display: inline-block;

		li {
			margin: 0.5em 0;
			list-style-type: none;

			&:before {
				content: '♦';
				font-size: 0.7em;
				padding-right: 0.5em;
				vertical-align: middle;
			}
		}
	}
}