footer {
	background-color: $default-background-color;

	.container {
		@include container;
		padding-top: $grid-padding;
		padding-bottom: $grid-padding;
	}
	.copyright {
		text-align: center;
		color: $tertiary-color;
	}
}