header {
	font-size: 1rem;
	position: relative;
	height: 15em;
	background: image-url('header.jpg') no-repeat;
	background-size: cover;
	@include large-border(bottom);
	@include at-breakpoint($medium-viewport) {
		font-size: 1.5rem;
		height: 20em;
	}
	@include at-breakpoint($large-viewport) {
		font-size: 2rem;
		height: 25em;
	}

	h1 {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 10% 15%;
	}
}