#home {
	.image {
		float: left;
		@include photo-border;

		img {
			display: block;
		}
	}
	.content {
		margin-left: $profile-image-width;
		padding: 3em;

		p {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}