#nav {
	@include carbon-fiber-background;
	text-align: center;
	font-family: $secondary-font;
	@include light-text;
	overflow: hidden;

	ul {
		@include container;
		margin-top: $default-page-spacing / 2;
		margin-bottom: $default-page-spacing / 2;
		overflow: hidden;
		@include at-breakpoint($medium-viewport) {
			@include set-container-width;
		}
		@include at-breakpoint($large-viewport) {
			@include set-container-width;
		}
	}
	li {
		$font-size: 3em;

		font-size: $font-size;
		background-color: $secondary-background-color;
		margin-top: $default-page-spacing / (strip-units($font-size) * 4);
		margin-bottom: $default-page-spacing / (strip-units($font-size) * 4);
		@include border-radius;
		@include at-breakpoint($medium-viewport) {
			@include equal-columns(2);
		}
		@include at-breakpoint($large-viewport) {
			@include equal-columns(4);
		}

		&.active {
			background-color: $default-text-color;
			@include dark-text;
		}
	}
	a {
		display: block;
		padding: 0.5em 0 0.4em;
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}
}