#grid {
	list-style: none;
	padding: 0;

	/* Effect 2: Move Up */
	&.effect-2 {
		.photo {
			&.animate {
				@include translateY(200px);
				@include experimental('animation', moveUp 0.65s ease forwards, webkit, moz);
			}
		}
	}
	.photo {
		display: block;
		float: left;
		padding: $gutter-width;
		width: 100%;
		opacity: 0;
		text-align: center;
		@include at-breakpoint($medium-viewport) {
			width: 50%;
		}
		@include at-breakpoint($large-viewport) {
			width: 33%;
		}

		a, img {
			outline: none;
			border: none;
			max-width: 100%;
		}
		a {
			display: inline-block;
			@include photo-border;
		}
		img {
			display: block;
		}
	}
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}

.photo.shown,
.no-js .photo,
.no-cssanimations .photo {
	opacity: 1;
}