#schedule {
	.schedule--entry {
		@include container;
		padding: 1em;

		&:nth-child(2n-1) {
			background-color: rgba($default-background-color, 0.2);
		}
		.meta {
			@include span-columns(4, 12);

			.date {
				font-size: 1.2em;
			}
		}
		.content {
			@include span-columns(8 omega, 12);

			.title {
				font-size: 1.3em;
				font-weight: bold;
			}
		}
	}
}