.skill {
	$spacing: 0.5rem;

	@include border-radius($base-border-radius);
	@include box-sizing(border-box);
	background-color: $base-background-color;
	border: $base-border;

	h3 {
		padding: $spacing;
	}
	p {
		font-size: 0.8rem;
		padding: 0 $spacing $spacing;
	}
	.image {
		height: 6rem;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.image-conductor {
		background-image: image-url('skills/conductor.jpg');
	}
	.image-pianist {
		background-image: image-url('skills/pianist.jpg');
	}
}