.skill {
	$spacing: 0.5em;

	font-size: 1rem;
	@extend %card;

	.content {
		padding: $spacing;
	}
	p {
		font-size: 0.8em;
		padding-top: $spacing;
	}
	.image {
		height: 6em;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.image-conductor {
		background-image: image-url('skills/conductor.jpg');
	}
	.image-pianist {
		background-image: image-url('skills/pianist.jpg');
	}
	.image-director {
		background-image: image-url('skills/music.jpg');
	}
}